@{
    ViewBag.Title = "About";
}

<!-- Content -->
<!--
    Note: To show a background image, set the "data-bg" attribute below
    to the full filename of your image. This is used in each section to set
    the background image.
-->
<section id="post" class="wrapper bg-img" data-bg="tt.jpg">
    <div class="inner">
        <article class="box">
            <header>
                <h2>About Grade for Grades</h2>
                <p></p>
            </header>
            <div class="content">
                <p><strong><font color="white"> Grade for Grades has the soul purpose to help find out what school district you in but ultimately help you find a school to enroll your child or children in. We take education seriouly because education gives us a knowledge of the world around us and changes it into something better. It develops in us a perspective of looking at life. It helps us build opinions and have points of view on things in life. People debate over the subject of whether education is the only thing that gives knowledge.  </strong> </font></p>

            </div>
            <footer>
                <!--	<ul class="actions">
                        <li><a href="#" class="button alt icon fa-chevron-left"><span class="label">Previous</span></a></li>
                        <li><a href="#" class="button alt icon fa-chevron-right"><span class="label">Next</span></a></li> 
                </ul>-->
            </footer>
        </article>
    </div>
</section>
