
@{
    ViewBag.Title = "Hazelwood";
}
<section id="post" class="wrapper bg-img" data-bg="h.png">
    <div class="inner">
        <article class="box">
            <header>
                <center><h2>Hazelwood</h2></center>
                <p></p>
            </header>
            <center>
                <strong>
                    <font color="white"> About Hazelwood District Schools</font>
                </strong>
            </center>

            <header><center><p><strong><font color="white">Hazelwood School District is Fully Accredited by the Missouri Department of Elementary and Secondary Education </font> </strong>  </p></center>  </header>


            <Header><center><strong> <font color="white"> Rate of the Hazelwood</font></strong></center></Header>

            <center>
                <p><font color="white"> Hazelwood School District's rating is 4 with a Graduation rate of 85.7%</font></p>
            </center>

            <Header>
                <center>
                    <strong>
                        <font color="white"> How many students attend (ditstict, school, class)</font>
                    </strong>
                </center>
            </Header>



            <center><font color="white"> Hazelwood School District is a school district with 18,118 students.The school has 336 students per school. & about 15-30 students per class</font></center></p>
            <header>
                <center>
                    <strong><font color="white"> How much money the district spends per student</font></strong>
                </center>
            </header>

            <center><font color="white">Hazelwood School District spends $8,191 per year per student</font></center>


            <iframe width="750"
                    height="400"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC7RmWOGnH0xiWjg6M8sAfOy9zlbxuDYB8
    &q=Claim+Academy,StLouis+MO" allowfullscreen></iframe>




            <p><center><a style="color : blue" href="https://www.hazelwoodschools.org"> HazelwoodSchools.com</a></center></p>

        </article> </div> </section>



