
@{
    ViewBag.Title = "McCluer";
}


<section id="post" class="wrapper bg-img" data-bg="m.png">
    <div class="inner">
        <article class="box">
            <header>
                <center><h2>McCluer</h2></center>
            </header>




            <header>
                <center><strong><font color="white"> About McCluer District Schools</font></strong>></center>

                <center><p><strong><font color="white">McCluer School District is fully Accredited by the Missouri Department of Elementary and Secondary Education </font>  </strong> </p> </center>
            </header>

            <Header><center><strong><font color="white"> Rate of the Riverview school district</font></strong></center></Header>

            <center><p><font color="white"> McCluer School District's rating is 1 with a Graduation rate of 73%</font></center></p>

            <Header>
                <center>
                    <strong>
                        <font color="white"> How many students attend (ditstict, school, class)</font>
                    </strong>
                </center>
            </Header>


            <center><p><font color="white">McCluer School District is a school district with 6,180 students.The school has 306 students per school. & about 15-30 students per class</font></p></center>

            <Header><center><strong><font color="white"> How much money the district spends per student </font></strong></center></Header>

            <center> <p><font color="white">McCluer School District spends $8,120 per year per student</font></p></center>


            <iframe width="750"
                    height="400"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC7RmWOGnH0xiWjg6M8sAfOy9zlbxuDYB8
    &q=Claim+Academy,StLouis+MO" allowfullscreen></iframe>




            <center>  <p><a style="color : blue" href="https://www.fergflor.org"> McCluerSchools.com</a> </p></center>
