
@{
    ViewBag.Title = "Riverview";
}


<section id="post" class="wrapper bg-img" data-bg="r.png">
    <div class="inner">
        <article class="box">
            <center><strong><font color="white"> About Riverview District Schools</font></strong> </center>

            <header>
                <center><p><strong><font color="white">Riverview School District is not Accredited by the Missouri Department of Elementary and Secondary Education</font>  </strong>  </p></center>
            </header>

            <Header> <center><strong> <font color="white"> Rate of the Riverview school district</font></strong></center> </Header>
            <center>
                <p><font color="white"> Riverview School District's rating is 1 with a Graduation rate of 58%</font> </p>
            </center>

            <Header>
                <center>
                    <strong>
                        <font color="white"> How many students attend (ditstict, school, class)</font>
                    </strong>
                </center>
            </Header>


            <center> <p><font color="white">Riverview School District is a school district with 6,020 students.The school has 336 students per school. & about 15-30 students per class</font></p></center>

            <Header> <center><strong><font color="white"> How much money the district spends per student</font> </strong></center></Header>

            <center> <p><font color="white">Riverview School District spends $8,120 per year per student</font></p>  </center>


            <iframe width="750"
                    height="400"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC7RmWOGnH0xiWjg6M8sAfOy9zlbxuDYB8
    &q=Claim+Academy,StLouis+MO" allowfullscreen></iframe>


            <center><p><a style="color : blue" href="http://www.rgsd.k12.mo.us/"> RiverviewSchools.com</a> </p></center>

        </article></div></section>