
@{
    ViewBag.Title = "Riverview";
}


<section id="post" class="wrapper bg-img" data-bg="r.png">
    <div class="inner">
        <article class="box">
            <center><strong><font color="white"> About Riverview District Schools</strong> </font></center>

            <center><p><strong><font color="white">Riverview School District is not Accredited by the Missouri Department of Elementary and Secondary Education  </strong> </font> </p></center>
            </header>

            <center><strong><Header> <font color="white"> Rate of the Riverview school district </Header><strong></center></font>
            <center>
                <p><font color="white"> Riverview School District's rating is 1 with a Graduation rate of 58% </p></font><center>

                    <center>
                        <strong>
                            <Header><font color="white"> How many students attend (ditstict, school, class) </Header><strong>
                                <center>
                                    </font>
                                    <p /><font color="white">
                                        Riverview School District is a school district with 6,020 students.The school has 336 students per school. & about 15-30 students per class</p><font>

                                            <center><strong><Header><font color="white"> How much money the district spends per student </Header></strong></center>
                                        </font>
                                        <p><font color="white">Riverview School District spends $8,120 per year per student</p>
                                    </font>



                                    </header>
                                    <p><a style="color : blue" href="http://www.rgsd.k12.mo.us/"> RiverviewSchools.com</a> </p>
   
